#invite-button { 
    text-align: right;
    float: right;
    width: 45px;
    text-align: center;
    background-color: #09a9f5;
    color: #e9ebfb;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: #e9ebfb;
    border-radius: 2px;
    border: none;
}


  