
.invite_title { 
    padding: 20px;
    font-size: 18pt;
    background-color: #09a9f5;
    color: rgb(243, 239, 239);
}

.invite_close { 
    float: right; 
    border: none; 
    background: none; 
    color: white;
}

.invite_content { 
    padding: 15px;
    font-size: 10pt;
}

.invite_action { 
    padding-left: 15px;
    font-size: 10pt;
    padding-bottom: 30px;
}
.invite_button { 
    margin-left: 5px;
    

}


  
